.speaker-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.speaker-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 255px;
  align-self: flex-start;
  min-height: 255px;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
.speaker-card-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
}
.speaker-card-first-name {
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
}
.speaker-card-last-name {
  color: var(--dl-color-scheme-lightblue);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.speaker-card-text {
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.speaker-card-root-class-name {
  top: -133px;
  left: 0px;
  right: 0px;
  position: static;
  align-self: center;
}
.speaker-card-root-class-name1 {
  top: 0px;
  left: 0px;
  align-self: center;
}
.speaker-card-root-class-name2 {
  top: 0px;
  left: 0px;
  align-self: center;
}
.speaker-card-root-class-name3 {
  top: -133px;
  left: 0px;
  right: 0px;
  position: static;
  align-self: center;
}
.speaker-card-root-class-name4 {
  top: 0px;
  left: 0px;
  align-self: center;
}
